[submodule "portfolio-server"]
	path = portfolio-server
	url = git@github.com:sxxxi/portfolio-server.git
	branch = main
[submodule "portfolio-revised"]
	path = portfolio-revised
	url = ./portfolio-revised/
	branch = main
